.infoPage {
    font-weight: 900;
}

body {
    overflow: hidden;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: relative;
    z-index: 1;
    color: white;
    font-size: min(calc(5px + 2vw), 30px);
    white-space: pre-wrap;
    text-align: left;
    margin: 2em 12% 0 12%;
}

.text {
    margin: 0;
    text-decoration: none;
}

@media screen and (max-width: 1900px) {
    .overlay {
        font-size: min(calc(9px + 1vw), 30px);
    }
}