body {
    overflow: hidden;
}

.card {
    position: relative;
    width: 38.5%;
    height: 0;
    padding-bottom: 55.25%; /* Пропорции 16:9, измените по необходимости */
    background-size: cover;
    background-position: center;
}

.backgroundImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.overlay {
    position: relative;
    z-index: 1;
    color: white;
    white-space: pre-wrap;
}